@{
	Layout = "/Views/Shared/_Layout.cshtml";
}
<h1 class="alert alert-info">@ViewBag.Item.Name Processor</h1>
@if (Context.Request.Query["success"].FirstOrDefault() == "true") {
	<div class="alert alert-success">
		<h4 class="alert-heading">Success!</h4>
		The item has been added to cart.
	</div>
}
<hr />
<div>
	<div class="image-container">
		<img style="width:100%" src="@Url.Content(String.Format("~{0}", ViewBag.Item.ImgURL))" />
		<hr />
		<h2>Price: @ViewBag.Item.Price$</h2>
		<form method="post" asp-action="Add" asp-controller="Cart">
			<input type="hidden" name="name" value="@ViewBag.Item.Name" />
			<input type="hidden" name="imgURL" value="@ViewBag.Item.ImgURL" />
			<input type="hidden" name="price" value="@ViewBag.Item.Price" />
			<input type="hidden" name="category" value="Processor" />
			<input type="submit" class="btn-warning btn-lg" value="Add" />
		</form>
	</div>
	<div class="content-container">
		<b style="font-size: 18px">Specs:</b>
		<br />
		<table class="table table-condensed table-striped table-bordered">
			<tr>
				<td>Name</td>
				<td>@ViewBag.Item.Name</td>
			</tr>
			<tr>
				<td>Frequency</td>
				<td>@ViewBag.Item.Frequency GHz</td>
			</tr>
			<tr>
				<td>Turbo Frequency</td>
				<td>@ViewBag.Item.TurboFrequency GHz</td>
			</tr>
			<tr>
				<td>Cores</td>
				<td>@ViewBag.Item.NumCores</td>
			</tr>
			<tr>
				<td>Threads</td>
				<td>@ViewBag.Item.NumThreads</td>
			</tr>
			<tr>
				<td>Cache</td>
				<td>@ViewBag.Item.Cache MB</td>
			</tr>
			<tr>
				<td>RAM Support</td>
				<td>@ViewBag.Item.RAMSupport</td>
			</tr>
			<tr>
				<td>TDP</td>
				<td>@ViewBag.Item.TDP W</td>
			</tr>
			<tr>
				<td>Lithography</td>
				<td>@ViewBag.Item.Lithography nm</td>
			</tr>
		</table>
	</div>
	<div>
		<a class="btn btn-light" style="margin-top:4px; margin-bottom:6px" href=@String.Format("/comment/post?username={0}&categoryName={1}&itemId={2}", User.Identity.Name, "Processor", ViewBag.Item.Id)>Post a comment</a>
	</div>
	<div>
		@if (((IQueryable<Comment>)ViewBag.Comments).Any()) {
			foreach (Comment i in ViewBag.Comments) {
				<div class="frame" style="height:auto">
					<label style="font-size:18px; margin-bottom:-3px">@i.Username</label><br />
					<label style="font-size:10px; font-weight:lighter">@i.Date</label><br />
					<label style="font-size:14px; font-weight:normal"><b>Comment: </b>@i.Body</label><br />
				</div>
			}
		}
	</div>
</div>
